<form method="POST"action='/login'> 
    Username : <input type="text" name="email"> 
    <br> 
    <br> 
    Passowrd : <input type="text" name="password">
    <br> 
    <br> 
    <input type="submit" name="sub">
</form>